<!DOCTYPE html>
<html lang="en">
  <head>

  	<title>RoundTable - Unauthorized User</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <style type="text/css">
  	.jumbotron{
  		background-color:#D9EBF1;
  		text-align:center;

	}
  .form
  {
    padding-right: 50px;
  }

  p {
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: bold;
  }

  h1
  {
    text-align: center;
  }


  </style>

  <body>
  	<div class="jumbotron text-center">
  		<h1>Roundtable</h1>
  		<p>RoundTable profile</p>
	</div>
  <h1> Yikes, looks like you need to <a href='/login'>sign in</a></h1>
  <h1> or <a href='/register'>make an account</a>.</h1>

  </body>
  </html>
